* {
    margin: 0;
    padding: 0;
}

body {
    background: #111 !important;
    color: #D1BFA7;
    font-family: 'Roboto';
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }


a {
    color: white !important ;
}

h1 {
    color: #FAB90C;
}

.ml-4 {
    max-width: 300px;
    margin-bottom: 58px;
}

.img-logo {
    margin-top: 40px;
    margin-left: 50px;
}

.join {
    text-align: center;
    background-color: #6d6d6d80;
    border-radius: 77px;
}

.badge-btn {
    padding: 9px;
    padding-top: 6px;
    width: 170px;
    height: 46px;
    border-radius: 63px;
}

.text-center {
    position: relative;
    top: 15%;
}

.telegram-btn {
    background: linear-gradient(100deg, #1B5F7C 2.68%, #084965 97.28%);
    border: 1px solid #30A8DB;
}

.telegram-btn:hover {
    background: linear-gradient(100deg, #217194 2.68%, #095a7c 97.28%);
}

.github-btn {
    background: linear-gradient(100deg, #6322A2 8.73%, #431C68 93.37%);
    border: 1px solid #C824F8;
}

.github-btn:hover {
    background: linear-gradient(100deg, #742bbd 8.73%, #522280 93.37%);
}

.fab {
    float: left;
    width: auto;
}

.card {
    background-color: #13282e;
    border-radius: 8px;
}
